{
    "presets": ["next/babel"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@components": "./src/components",
                    "@redux": "./src/redux"
                }
            }
        ]
    ]
}
