{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": false,
    "printWidth": 80,
    "tabWidth": 4,
    "organizeImportsSkipDestructiveCodeActions": true,
    "overrides": [
        { "files": ["*.yml", "*.yaml"], "options": { "tabWidth": 2 } }
    ]
}
